In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib 
matplotlib.rcParams['font.family'] = 'Malgun Gothic' 
matplotlib.rcParams['font.size'] = 10 # 글자 크기
matplotlib.rcParams['axes.unicode_minus'] = False

import datetime as dt
import time as tm

In [2]:
sj = pd.read_excel('솔정.xlsx')
sj

,측정시간,수온,pH,EC,DO,탁도,T-N,T-P,TOC,강우량,수위,비고
0,2021-07-01 00:00:00,20.44,6.70,121,8.65,62.31,2.93,0.005,0.48,0.0,0.47,NaN
1,2021-07-01 01:00:00,20.22,6.69,121,8.99,63.07,2.26,0.006,0.45,0.0,0.47,NaN
2,2021-07-01 02:00:00,20.02,6.69,121,9.09,60.66,2.67,0.005,0.94,0.0,0.47,NaN
3,2021-07-01 03:00:00,19.84,6.69,121,9.51,59.33,2.63,0.004,1.16,0.0,0.47,NaN
4,2021-07-01 04:00:00,19.67,6.70,121,9.39,71.57,2.73,0.003,0.54,0.0,0.47,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4053,2021-12-23 09:00:00,0.41,6.90,120,11.79,2.28,4.35,0.066,1.29,0.0,0.51,NaN
4054,2021-12-23 10:00:00,0.44,7.10,119,12.11,2.14,4.52,0.070,1.36,0.0,0.51,NaN
4055,2021-12-23 11:00:00,0.47,7.28,119,12.06,3.86,4.46,0.070,1.51,0.0,0.50,NaN
4056,2021-12-23 12:00:00,0.47,7.40,118,12.20,3.58,4.28,0.067,1.55,0.0,0.51,NaN
4057,2021-12-23 13:00:00,0.52,7.47,117,12.07,2.18,4.35,0.068,1.40,0.0,0.48,NaN